/*PC*/
@media all and (min-width:1024px) { 
    .desktop{
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 1024px;        
        min-width: 1024px;
        align-items: center;
      }
      .tablet{
        display: none;
      }
      .desktop .sidebar{
        display: flex;
        width: 200px;
        padding: 30px 16px 0px 16px;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        align-self: stretch;
        background: #FFFED8;
      }
      .sidebar .sidebar_box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
        align-self: stretch;
      }
      .sidebar .sidebar_box .sidebar_title{
        display: flex;
        padding: 18px 16px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
      }
      .sidebar .sidebar_box .sidebar_title .sidebar_title_text{
        color: #222;
        font-family: DM Sans;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 128% */
      }
      .sidebar_box .sidebar_menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
        align-self: stretch;
      }
      .sidebar_box .sidebar_menu .menu_box{
        display: flex;
        padding: 18px 16px;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
      }
      .sidebar_box .sidebar_menu .menu_box .menu_text_focus{
        color: #222;
        /* Font Medium */
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
      }
      .sidebar_box .sidebar_menu .menu_box .menu_text{
        color: #9A9A9A;
        /* Font Medium */
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
      }
      .desktop .main{
        display: flex;
        min-width: 824px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
        background: #FFF;
      }
      .desktop .main .table{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
      }
      .table_title{
        display: flex;
        padding-left: 10px;
        align-items: center;
        align-self: stretch;
      }
      .table_title .table_title_text{
        flex: 1 0 0;
        color: #222;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 133.333% */
        letter-spacing: 2.1px;
        text-transform: uppercase;
      }
      .table .table_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
      }
      .table .table_content .row_top{
        display: flex;
        height: 40px;
        padding: 12px 8px;
        align-items: center;
        gap: 24px;
        flex: 1 0 0;
        align-self: stretch;
        background: #FFFED8;
      }
      .row_top .row_text{
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 22.4px */
        text-transform: capitalize;
      }
      .row_top .row_text.name{
        width: 50px;
      }
      .row_top .row_text.number{
        flex: 1 0 0;
        min-width: 50px;
      }
      .row_top .row_text.sex{
        width: 40px;
      }
      .row_top .row_text.std{
        flex: 1 0 0;
        min-width: 50px;
      }
      .row_top .row_text.prog{
        flex: 1 0 0;
      }
      .row_top .row_text.count{
        width: 40px;
      }
      .row_top .row_text.note{
        min-width: 150px;
        flex: 1 0 0;
      }
      .row_top .row_text.date{
        flex: 1 0 0;
      }
      .row_top .row_text.time{
        width: 100px;
      }
      .table_content .row_time{
        display: flex;
        height: 15px;
        padding: 0px 8px;
        align-items: center;
        align-self: stretch;
        border: 1px solid #000;
        background: #FFF;
        box-shadow: 0px -1px 0px 0px #E5E5E5 inset;
      }
      .table_content .row_time .row_time_text{
        display: flex;
        width: 30px;
        flex-direction: column;
        justify-content: center;
        align-self: stretch;
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 14px */
        text-transform: capitalize;
      }
      .table_content .row_box{
        display: flex;
        max-height: 110px;
        flex-direction: column;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
      }
      .row1{
        display: flex;
        min-height: 40px;
        max-height: 45px;
        padding: 5px 8px;
        align-items: center;
        gap: 24px;
        flex: 1 0 0;
        align-self: stretch;
        background: #FFF;
      }
      .row_box .row2{
        display: flex;
        min-height: 40px;
        max-height: 45px;
        padding: 5px 8px;
        align-items: center;
        gap: 24px;
        flex: 1 0 0;
        align-self: stretch;
        background: #E9EAEC;
      }
      .row1 .row_text,.row2 .row_text{
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 16.8px */
        text-transform: capitalize;
      }
      .row1 .row_text.name, .row2 .row_text.name{
        width: 50px;
      }
      .row1 .row_text.number, .row2 .row_text.number{
        flex: 1 0 0;
        min-width: 50px;
      }
      .row1 .row_text.sex, .row2 .row_text.sex{
        width: 40px;
      }
      .row1 .row_text.std, .row2 .row_text.std{
        flex: 1 0 0;
        min-width: 50px;
      }
      .row1 .row_text.prog, .row2 .row_text.prog{
        flex: 1 0 0;
      }
      .row1 .row_text.count, .row2 .row_text.count{
        width: 40px;
      }
      .row1 .row_text.note, .row2 .row_text.note{
        min-width: 150px;
        flex: 1 0 0;
        overflow: hidden;
      }
      .row1 .row_text.date, .row2 .row_text.date{
        flex: 1 0 0;
      }
      .row1 .row_text.time, .row2 .row_text.time{
        width: 100px;
      }
  }
  /*테블릿*/
  @media all and (min-width:768px) and (max-width:1023px) {
    .desktop{
      display: none;
    }
    .tablet{
      display: flex;
      max-width:1023px;
      min-width: 480px;
      flex-direction: column;
      align-items: center;
    }
  }
  /*모바일*/
  @media all and (max-width:767px) {

  }
  