<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="desktop">
        <div class="sidebar">
          <div class="sidebar_box">
            <div class="sidebar_title">
              <span class="sidebar_title_text">Lemon Tree</span>
            </div>
            <div class="sidebar_menu">
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 2L3 9V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H19C19.5304 22     20.0391           21.7893     20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V9L12 2Z" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9 22V12H15V22" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="menu_text focus">메인</span>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M12 0C8.7 0 6 3.36 6 7.5C6 11.64 8.7 15 12 15C15.3 15 18 11.64 18 7.5C18 3.36 15.3 0 12 0ZM5.73 15C2.55 15.15 0 17.76 0 21V24H24V21C24 17.76 21.48 15.15 18.27 15C16.65 16.83 14.43 18 12 18C9.57 18 7.35 16.83 5.73 15Z" fill="#9A9A9A"/>
                </svg>
                <span class="menu_text">회원목록</span>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M6 2H14L20 8V20C20 20.5304 19.7893 21.0391 19.4142 21.4142C19.0391 21.7893 18.5304 22 18 22H6C5.46957 22 4.96086 21.7893 4.58579 21.4142C4.21071 21.0391 4 20.5304 4 20V4C4 3.46957 4.21071 2.96086 4.58579 2.58579C4.96086 2.21071 5.46957 2 6 2Z" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14 2V8H20" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 13H8" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 17H8" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 9H9H8" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="menu_text">예약관리</span>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M21.4142 20.4142C21.7893 20.0391 22 19.5304 22 19V8C22 7.46957 21.7893 6.96086 21.4142 6.58579C21.0391 6.21071 20.5304 6 20 6H11L9 3H4C3.46957 3 2.96086 3.21071 2.58579 3.58579C2.21071 3.96086 2 4.46957 2 5V19C2 19.5304 2.21071 20.0391 2.58579 20.4142C2.96086 20.7893 3.46957 21 4 21H20C20.5304 21 21.0391 20.7893 21.4142 20.4142Z" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  <span class="menu_text">프로그램 관리</span>
              </div>
            </div>
          </div>
        </div>
        <div class="main">
          <div class="table">
            <div class="table_content">
              <div class="table_title"><span class="table_title_text">금일 예약</span></div>
              <div class="row_top">
                <span  class="row_text name">이름</span>
                <span  class="row_text number">휴대폰 번호</span>
                <span  class="row_text sex">성별</span>
                <span  class="row_text std">재학생</span>
                <span  class="row_text prog">프로그램</span>
                <span  class="row_text count">횟수</span>
                <span  class="row_text note">비고</span>
                <span  class="row_text date">예약 날짜</span>
                <span  class="row_text time">시간</span>
              </div>
              <div class="row_time"><span  class="row_time_text">17:00</span></div>
              <div class="row_box">
                <div class="row1">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
                <div class="row2">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
              </div>
              <div class="row_time"><span  class="row_time_text">17:30</span></div>
              <div class="row_box">
                <div class="row1">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
                <div class="row2">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
              </div>      
              <div class="row_time"><span  class="row_time_text">18:00</span></div>
              <div class="row_box">
                <div class="row1">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
                <div class="row2">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
              </div>
              <div class="row_time"><span  class="row_time_text">18:30</span></div>
              <div class="row1">
                <span  class="row_text name">김신희</span>
                <span  class="row_text number">01022389960</span>
                <span  class="row_text sex">남성</span>
                <span  class="row_text std">0</span>
                <span  class="row_text prog">데콜테</span>
                <span  class="row_text count">2/3회</span>
                <span  class="row_text note">없음</span>
                <span  class="row_text date">09.26.18:30</span>
                <span  class="row_text time">18:30~19:30</span>
              </div>

            </div>
            <div class="table_content">
              <div class="table_title"><span class="table_title_text">익일 예약</span></div>
              <div class="row_top">
                <span  class="row_text name">이름</span>
                <span  class="row_text number">휴대폰 번호</span>
                <span  class="row_text sex">성별</span>
                <span  class="row_text std">재학생</span>
                <span  class="row_text prog">프로그램</span>
                <span  class="row_text count">횟수</span>
                <span  class="row_text note">비고</span>
                <span  class="row_text date">예약 날짜</span>
                <span  class="row_text time">시간</span>
              </div>
              <div class="row_time"><span  class="row_time_text">17:00</span></div>
              <div class="row_box">
                <div class="row1">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
                <div class="row2">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
              </div>
              <div class="row_time"><span  class="row_time_text">17:30</span></div>
              <div class="row_box">
                <div class="row1">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
                <div class="row2">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
              </div>      
              <div class="row_time"><span  class="row_time_text">18:00</span></div>
              <div class="row_box">
                <div class="row1">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
                <div class="row2">
                  <span  class="row_text name"></span>
                  <span  class="row_text number"></span>
                  <span  class="row_text sex"></span>
                  <span  class="row_text std"></span>
                  <span  class="row_text prog"></span>
                  <span  class="row_text count"></span>
                  <span  class="row_text note"></span>
                  <span  class="row_text date"></span>
                  <span  class="row_text time"></span>
                </div>
              </div>
              <div class="row_time"><span  class="row_time_text">18:30</span></div>
              <div class="row1">
                <span  class="row_text name">김신희</span>
                <span  class="row_text number">01022389960</span>
                <span  class="row_text sex">남성</span>
                <span  class="row_text std">0</span>
                <span  class="row_text prog">데콜테</span>
                <span  class="row_text count">2/3회</span>
                <span  class="row_text note">없음</span>
                <span  class="row_text date">09.26.18:30</span>
                <span  class="row_text time">18:30~19:30</span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--PC end-->
    <!--테블릿-->
    <div class="tablet">
      <div class="header">
        <span class="header_text">Lemon Tree</span>        
      </div>
      <div class="menu_bar">
        <div class="main"><span class="menu_text focus">메인</span></div>
        <div class="client_list"><span class="menu_text">회원목록</span></div>
        <div class="reserv_manage"><span class="menu_text">예약관리</span></div>
        <div class="prog_manage"><span class="menu_text">프로그램관리</span></div>
      </div>
      <div class="table">
        <div class="row_top">
          <span  class="row_text name">이름</span>
          <span  class="row_text number">휴대폰 번호</span>
          <span  class="row_text prog">프로그램</span>
          <span  class="row_text count">횟수</span>
          <span  class="row_text date">예약 날짜</span>
          <span  class="row_text time">시간</span>
        </div>
        <div class="table_content">
          <div class="row_time"><span  class="row_time_text">17:00</span></div>
          <div class="row_box">
            <div class="row a">
              <span  class="row_text name">범진성</span>
              <span  class="row_text number">010-0000-0000</span>
              <span  class="row_text prog">얼굴 & 데콜테관리 (60min)</span>
              <span  class="row_text count">3회/3회</span>
              <span  class="row_text date">2023.09.18 17:00</span>
              <span  class="row_text time">17:00~18:00</span>
            </div>
            <div class="row b">
              <span  class="row_text name"></span>
              <span  class="row_text number"></span>
              <span  class="row_text prog"></span>
              <span  class="row_text count"></span>
              <span  class="row_text date"></span>
              <span  class="row_text time"></span>
            </div>
          </div>
          <div class="row_time"><span  class="row_time_text">17:30</span></div>
          <div class="row_box">
            <div class="row a">
              <span  class="row_text name"></span>
              <span  class="row_text number"></span>
              <span  class="row_text prog"></span>
              <span  class="row_text count"></span>
              <span  class="row_text date"></span>
              <span  class="row_text time"></span>
            </div>
            <div class="row b">
              <span  class="row_text name"></span>
              <span  class="row_text number"></span>
              <span  class="row_text prog"></span>
              <span  class="row_text count"></span>
              <span  class="row_text date"></span>
              <span  class="row_text time"></span>
            </div>
          </div>
          <div class="row_time"><span  class="row_time_text">18:00</span></div>
          <div class="row_box">
            <div class="row a">
              <span  class="row_text name"></span>
              <span  class="row_text number"></span>
              <span  class="row_text prog"></span>
              <span  class="row_text count"></span>
              <span  class="row_text date"></span>
              <span  class="row_text time"></span>
            </div>
            <div class="row b">
              <span  class="row_text name"></span>
              <span  class="row_text number"></span>
              <span  class="row_text prog"></span>
              <span  class="row_text count"></span>
              <span  class="row_text date"></span>
              <span  class="row_text time"></span>
            </div>
          </div>
          <div class="row_time"><span  class="row_time_text">18:30</span></div>
            <div class="row a">
              <span  class="row_text name"></span>
              <span  class="row_text number"></span>
              <span  class="row_text prog"></span>
              <span  class="row_text count"></span>
              <span  class="row_text date"></span>
              <span  class="row_text time"></span>
            </div>
        </div>
      </div>
    </div>   
    <!--테블릿 end--> 
    <div class="mobile">
      
    </div> 
</body>
</html>