<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 관리</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    
</head>
<body>

    <div class="manage_main">
        <div class="sidebar">
          <div class="sidebar_box">
            <div class="sidebar_title">
              <span class="sidebar_title_text">Lemon Tree</span>
            </div>
            <div class="sidebar_menu">
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 2L3 9V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H19C19.5304 22     20.0391           21.7893     20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V9L12 2Z" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9 22V12H15V22" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="/" class="menu_text">메인</a>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M12 0C8.7 0 6 3.36 6 7.5C6 11.64 8.7 15 12 15C15.3 15 18 11.64 18 7.5C18 3.36 15.3 0 12 0ZM5.73 15C2.55 15.15 0 17.76 0 21V24H24V21C24 17.76 21.48 15.15 18.27 15C16.65 16.83 14.43 18 12 18C9.57 18 7.35 16.83 5.73 15Z" fill="#9A9A9A"/>
                </svg>
                <a href="/client_list" class="menu_text">회원목록</a>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M6 2H14L20 8V20C20 20.5304 19.7893 21.0391 19.4142 21.4142C19.0391 21.7893 18.5304 22 18 22H6C5.46957 22 4.96086 21.7893 4.58579 21.4142C4.21071 21.0391 4 20.5304 4 20V4C4 3.46957 4.21071 2.96086 4.58579 2.58579C4.96086 2.21071 5.46957 2 6 2Z" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14 2V8H20" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 13H8" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 17H8" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 9H9H8" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="/reservation_manage" class="menu_text focus">예약관리</a>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M21.4142 20.4142C21.7893 20.0391 22 19.5304 22 19V8C22 7.46957 21.7893 6.96086 21.4142 6.58579C21.0391 6.21071 20.5304 6 20 6H11L9 3H4C3.46957 3 2.96086 3.21071 2.58579 3.58579C2.21071 3.96086 2 4.46957 2 5V19C2 19.5304 2.21071 20.0391 2.58579 20.4142C2.96086 20.7893 3.46957 21 4 21H20C20.5304 21 21.0391 20.7893 21.4142 20.4142Z" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  <a href="/prog_manage" class="menu_text">프로그램 관리</a>
              </div>
            </div>
          </div>
        </div>
        <div class="header">
          <span class="header_text">Lemon Tree</span>
          <div class="search-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z" stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <input type="text" placeholder="이름 또는 번호 검색" id="searchInput">
        </div>        
        </div>
        <div class="menu_bar">
          <div class="main_page"><a href="/" class="menu_text">메인</a></div>
          <div class="client_list"><a href="/client_list" class="menu_text">회원목록</a></div>
          <div class="reserv_manage"><a href="/reservation_manage" class="menu_text focus">예약관리</a></div>
          <div class="prog_manage"><a href="/prog_manage" class="menu_text">프로그램관리</a></div>
        </div>
        <div class="main">
          <div class="table">
            <div class="table_content a">
                <div class="table_title">
                    <span class="table_title_text">예약관리</span>
                    <div class="search-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z" stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <input type="text" placeholder="이름 또는 번호 검색" id="searchInput">
                    </div>
                </div>
                <div class="row_top">
                    <span  class="row_text name">이름</span>
                    <span  class="row_text number">휴대폰 번호</span>
                    <span  class="row_text sex">성별</span>
                    <span  class="row_text std">재학생</span>
                    <span  class="row_text prog">프로그램</span>
                    <span  class="row_text count">횟수</span>
                    <span  class="row_text note">비고</span>
                    <span  class="row_text date">예약 날짜</span>
                    <span  class="row_text time">시간</span>
                </div>
                <div class="row a">
                    <span  class="row_text name">김신희</span>
                    <span  class="row_text number">01022389960</span>
                    <span  class="row_text sex">남자</span>
                    <span  class="row_text std">예</span>
                    <span  class="row_text prog">등관리(30min)</span>
                    <span  class="row_text count">1/1회</span>
                    <span  class="row_text note">없음</span>
                    <span  class="row_text date">2023.09.30.17:00</span>
                    <span  class="row_text time">17:00~17:30</span>
                </div>
                <div class="row b">
                    <span  class="row_text name">범진성</span>
                    <span  class="row_text number">01000000000</span>
                    <span  class="row_text sex">남자</span>
                    <span  class="row_text std">아니오</span>
                    <span  class="row_text prog">얼굴&데콜테관리(60min)</span>
                    <span  class="row_text count">3/3회</span>
                    <span  class="row_text note">없음</span>
                    <span  class="row_text date">2023.09.30.17:30</span>
                    <span  class="row_text time">17:30~18:30</span>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal_back">
      <div class="modal">
        <form method="POST" class="reservationForm">
        <div class="detail_info_modal">
          <div class="modal_header">
            <span class="modal_header_title">예약 상세정보</span>
            <div class="confirm_btn" data-action="">
              <span class="confirm_btn_text">확정</span>
            </div>
          </div>
          <div class="modal_main">
            <div class="client info">
              <span class="client info_title">예약자 정보</span>
              <div class="info_box name">
                <span class="box_name">이름</span>
                <input type="text" name="" class="inputbox">
              </div>
              <div class="info_box number">
                <span class="box_name">번호</span>
                <input type="text" name="" class="inputbox">
              </div>
              <div class="info_box sex">
                <span class="box_name">성별</span>
                <input type="text" name="" class="inputbox">
              </div>
              <div class="info_box note">
                <span class="box_name">비고</span>
                <textarea name="" class="inputbox note"></textarea>
              </div>
            </div>
            <div class="reserv info">
              <span class="reserv info_title">예약 정보</span>
              <div class="info_box date">
                <span class="box_name">예약날짜</span>
                <input type="text" name="" class="inputbox">
              </div>
              <div class="info_box prog">
                <span class="box_name">프로그램</span>
                <input type="text" name="" class="inputbox">
              </div>
              <span class="fare info_title">요금 정보</span>
              <div class="info_box fare">
                <div class="fare_content">
                  <span class="fare_box">횟수</span>
                </div>
                <div class="fare_content">
                  <span class="fare_box">재학생</span>
                </div>
                <div class="fare_content">
                  <span class="fare_box">정상가</span>
                </div>
                <div class="fare_content">
                  <span class="fare_box">할인가</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal_footer">
            
          </div>
        </div>
      </form>
      </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>